<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/styles.css">
    <style media="screen">
    .linkRoute {
      text-align: center;
      padding: 10px;
      font-size: 20px;
      background-color: #ffaa80;
      color: white;
    }
    .linkRoute a {
      margin-left: 10px;
      margin-right: 10px;
    }
    </style>
    <title>Todo List</title>
  </head>
  <body>
    <div class="box linkRoute">
      <a href="/">Todo List</a>
      <a href="work">Work list</a>
    </div>
    <div class="box" id="heading">
        <h1><%= listTitel %></h1>
    </div>
