<%- include("header") -%>
    <div class="box">
      <% for(let i = 0; i < newItems.length; i++){ %>
          <div class="item">
            <input type="checkbox">
              <p>
                <%= newItems[i] %>
              </p>
          </div>
      <% } %>
      <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button type="submit" name="add" value="<%= listTitel %>">+</button>
      </form>
    </div>
    <div>
      <form class="" action="/" method="post">
        <button type="submit" name="reset" value="reset">↺</button>
      </form>
    </div>
<%- include("footer") -%>
